/MenuCalculadora/MenuCalculadora/bin
/MenuCalculadora/MenuCalculadora/obj

/MenuCalculadora/Matematica/obj
/MenuCalculadora/Matematica/bin

/Matematica/Matematica.Cli/bin
/Matematica/Matematica.Cli/obj

/Matematica/Matematica.negocio/bin
/Matematica/Matematica.negocio/obj

/Matematica/Matematica.Test/bin
/Matematica/Matematica.Test/obj
